In [38]:
import pandas as pd
from factor_analyzer import FactorAnalyzer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [39]:
model2 = pd.read_csv(r'C:\Users\yangh\OneDrive\바탕 화면\관리종목 예측 모형 개발\Model2(original data).csv')

In [40]:
model2.head()

,ROA(Operating Income)(%),ROA(Pretax Income)(%),ROA(Net Income)(%),"ROA(Comprehensive Income, 3y)(%)",ROE(Operating Income)(%),ROE(Pretax Income)(%),ROE(Net Income)(%),Total Debt to Total Equity(%),Cashflow(comm) to Total Equity(avg)(%),Cashflow to Revenue(%),...,Cashflow to Total Assets(avg)(%),Cashflow to Total Debt(avg)(%),Asset Turnover Ratio(times),Capital Stock Turnover Ratio(times),Liability Turnover Ratio(times),Equity Turnover Ratio(times),Total Liabilities Growth Rate(yoy)(%),Total Assets Growth Rate(yoy)(%),Sales Growth Rate(yoy)(%),target
0,-26.03,-33.86,-33.86,-33.86,-60.01,-78.08,-78.08,212.69,-59.03,-336.31,...,-25.60,-66.61,0.08,0.03,0.13,0.18,-1.40,-29.54,-91.86,1
1,-24.27,-40.82,-40.82,-40.82,-63.97,-107.60,-107.60,367.84,-78.98,-85.38,...,-29.96,-116.62,0.35,0.11,0.57,0.93,8.05,-30.52,-39.72,1
2,-54.03,-67.42,-67.42,0.00,-66.24,-82.65,-82.65,44.14,-81.87,-1303.42,...,-66.79,-1075.85,0.05,0.01,0.28,0.06,43.32,-45.09,-68.50,1
3,5.92,5.86,5.86,4.67,6.50,6.43,6.43,6.78,6.92,8.34,...,6.30,109.57,0.76,0.45,8.41,0.83,-27.96,45.08,469.85,1
4,-57.57,-56.86,-56.86,0.00,-58.90,-58.17,-58.17,4.96,-58.17,-2562.64,...,-56.86,-2777.41,0.02,0.01,0.99,0.02,-74.81,-89.43,-91.13,1

In [41]:
model2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 694 entries, 0 to 693
Data columns (total 22 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   ROA(Operating Income)(%)                694 non-null    float64
 1   ROA(Pretax Income)(%)                   694 non-null    float64
 2   ROA(Net Income)(%)                      694 non-null    float64
 3   ROA(Comprehensive Income, 3y)(%)        694 non-null    float64
 4   ROE(Operating Income)(%)                694 non-null    float64
 5   ROE(Pretax Income)(%)                   694 non-null    float64
 6   ROE(Net Income)(%)                      694 non-null    float64
 7   Total Debt to Total Equity(%)           694 non-null    float64
 8   Cashflow(comm) to Total Equity(avg)(%)  694 non-null    float64
 9   Cashflow to Revenue(%)                  694 non-null    float64
 10  Cashflow to Total Liabilities(avg)(%)   694 non-null    float64
 11  Cashflow to Total Equity(avg)(%)        694 non-null    float64
 12  Cashflow to Total Assets(avg)(%)        694 non-null    float64
 13  Cashflow to Total Debt(avg)(%)          694 non-null    float64
 14  Asset Turnover Ratio(times)             694 non-null    float64
 15  Capital Stock Turnover Ratio(times)     694 non-null    float64
 16  Liability Turnover Ratio(times)         694 non-null    float64
 17  Equity Turnover Ratio(times)            694 non-null    float64
 18  Total Liabilities Growth Rate(yoy)(%)   694 non-null    float64
 19  Total Assets Growth Rate(yoy)(%)        694 non-null    float64
 20  Sales Growth Rate(yoy)(%)               694 non-null    float64
 21  target                                  694 non-null    int64
dtypes: float64(21), int64(1)
memory usage: 119.4 KB

In [42]:
model2.describe()

,ROA(Operating Income)(%),ROA(Pretax Income)(%),ROA(Net Income)(%),"ROA(Comprehensive Income, 3y)(%)",ROE(Operating Income)(%),ROE(Pretax Income)(%),ROE(Net Income)(%),Total Debt to Total Equity(%),Cashflow(comm) to Total Equity(avg)(%),Cashflow to Revenue(%),...,Cashflow to Total Assets(avg)(%),Cashflow to Total Debt(avg)(%),Asset Turnover Ratio(times),Capital Stock Turnover Ratio(times),Liability Turnover Ratio(times),Equity Turnover Ratio(times),Total Liabilities Growth Rate(yoy)(%),Total Assets Growth Rate(yoy)(%),Sales Growth Rate(yoy)(%),target
count,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.00000,694.000000,694.000000,...,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000,694.000000
mean,-2.602853,-9.202205,-10.612046,-10.503285,-15.430951,-23.330793,-25.298790,208.81562,-14.861916,-66.192378,...,-7.443991,124.893545,0.677666,9.796239,1.753386,2.012161,10.779424,4.962666,19.578329,0.500000
std,14.079434,25.020186,25.616900,26.146456,149.434173,143.472632,183.800269,483.49218,194.748345,338.664574,...,25.285007,4279.970106,0.494763,18.600715,1.594671,4.662479,102.750171,49.704813,229.997132,0.500361
min,-102.730000,-184.060000,-184.060000,-184.100000,-3732.450000,-1273.780000,-1085.500000,1.27000,-725.810000,-6070.190000,...,-182.230000,-25708.480000,0.010000,0.010000,0.030000,0.020000,-93.990000,-89.430000,-98.150000,0.000000
25%,-8.555000,-17.212500,-19.297500,-19.345000,-20.407500,-40.865000,-45.482500,37.17500,-36.230000,-35.735000,...,-16.367500,-59.870000,0.340000,1.317500,0.700000,0.640000,-27.940000,-18.395000,-21.890000,0.000000
50%,0.265000,-2.525000,-3.190000,-3.190000,0.405000,-4.870000,-6.640000,82.65000,-0.725000,-1.350000,...,-0.830000,-2.905000,0.570000,3.715000,1.270000,1.150000,-7.865000,-0.690000,-3.110000,0.500000
75%,4.910000,5.095000,4.145000,4.155000,10.090000,9.185000,7.537500,178.67750,13.525000,9.927500,...,6.785000,39.780000,0.890000,10.900000,2.240000,2.135000,16.662500,14.985000,18.440000,1.000000
max,40.960000,43.670000,115.610000,116.350000,86.270000,3037.740000,4308.400000,7450.00000,4710.280000,628.280000,...,118.550000,104304.200000,4.870000,252.100000,9.700000,107.520000,1147.900000,554.970000,5564.780000,1.000000

In [43]:
model2.columns

Index(['ROA(Operating Income)(%)', 'ROA(Pretax Income)(%)',
       'ROA(Net Income)(%)', 'ROA(Comprehensive Income, 3y)(%)',
       'ROE(Operating Income)(%)', 'ROE(Pretax Income)(%)',
       'ROE(Net Income)(%)', 'Total Debt to Total Equity(%)',
       'Cashflow(comm) to Total Equity(avg)(%)', 'Cashflow to Revenue(%)',
       'Cashflow to Total Liabilities(avg)(%)',
       'Cashflow to Total Equity(avg)(%)', 'Cashflow to Total Assets(avg)(%)',
       'Cashflow to Total Debt(avg)(%)', 'Asset Turnover Ratio(times)',
       'Capital Stock Turnover Ratio(times)',
       'Liability Turnover Ratio(times)', 'Equity Turnover Ratio(times)',
       'Total Liabilities Growth Rate(yoy)(%)',
       'Total Assets Growth Rate(yoy)(%)', 'Sales Growth Rate(yoy)(%)',
       'target'],
      dtype='object')

In [44]:
model2.shape

(694, 22)

In [45]:
scaler = MinMaxScaler()
X = model2.drop(['target'], axis=1)
Y = model2['target']
X[:] = scaler.fit_transform(X[:])
X

,ROA(Operating Income)(%),ROA(Pretax Income)(%),ROA(Net Income)(%),"ROA(Comprehensive Income, 3y)(%)",ROE(Operating Income)(%),ROE(Pretax Income)(%),ROE(Net Income)(%),Total Debt to Total Equity(%),Cashflow(comm) to Total Equity(avg)(%),Cashflow to Revenue(%),...,Cashflow to Total Equity(avg)(%),Cashflow to Total Assets(avg)(%),Cashflow to Total Debt(avg)(%),Asset Turnover Ratio(times),Capital Stock Turnover Ratio(times),Liability Turnover Ratio(times),Equity Turnover Ratio(times),Total Liabilities Growth Rate(yoy)(%),Total Assets Growth Rate(yoy)(%),Sales Growth Rate(yoy)(%)
0,0.533788,0.659553,0.501218,0.500050,0.961694,0.277327,0.186770,0.028383,0.122658,0.855998,...,0.139198,0.520746,0.197226,0.014403,0.000079,0.010341,0.001488,0.074556,0.092939,0.001111
1,0.546037,0.628990,0.477992,0.476885,0.960657,0.270480,0.181297,0.049212,0.118988,0.893459,...,0.135597,0.506250,0.196841,0.069959,0.000397,0.055843,0.008465,0.082165,0.091418,0.010318
2,0.338924,0.512185,0.389228,0.612748,0.960063,0.276267,0.185923,0.005755,0.118456,0.711621,...,0.135075,0.383802,0.189463,0.008230,0.000000,0.025853,0.000372,0.110565,0.068808,0.005236
3,0.756142,0.833970,0.633764,0.628291,0.979111,0.296928,0.202438,0.000740,0.134790,0.907451,...,0.151101,0.626804,0.198581,0.154321,0.001745,0.866598,0.007535,0.053169,0.208737,0.100301
4,0.314288,0.558556,0.424467,0.612748,0.961985,0.281945,0.190461,0.000495,0.122816,0.523635,...,0.139353,0.416816,0.176376,0.002058,0.000000,0.099276,0.000000,0.015444,0.000000,0.001240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
689,0.766929,0.835507,0.631595,0.630022,0.979928,0.297292,0.202490,0.003626,0.135730,0.907836,...,0.152023,0.636944,0.198245,0.174897,0.025269,0.392968,0.010047,0.077704,0.147098,0.020376
690,0.697056,0.797040,0.606467,0.608487,0.976490,0.294629,0.200658,0.004910,0.133646,0.906350,...,0.149978,0.607554,0.197764,0.106996,0.031655,0.199586,0.006512,0.079629,0.138610,0.012698
691,0.646531,0.757256,0.575099,0.573739,0.974620,0.292519,0.198891,0.000655,0.131560,0.898325,...,0.147931,0.573210,0.193766,0.037037,0.010750,0.246122,0.001674,0.040277,0.125528,0.006136
692,0.687452,0.788390,0.598258,0.596672,0.975866,0.293873,0.199926,0.007940,0.132954,0.905458,...,0.149300,0.599042,0.197665,0.082305,0.010036,0.125129,0.005488,0.127411,0.167737,0.026059
693,0.758160,0.824617,0.624587,0.623731,0.981373,0.297542,0.202651,0.015540,0.137768,0.907504,...,0.154021,0.637376,0.197916,0.222222,0.091237,0.188211,0.024558,0.065513,0.145143,0.023822

In [46]:
# 변수선택 알고리즘
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size= 0.2, random_state= 1)

select = RFE(RandomForestClassifier(n_estimators = 100, random_state=0), n_features_to_select=5)

select.fit(X_train,Y_train)
features_bool = np.array(select.get_support())
features = np.array(X.columns)
result = features[features_bool]
print(result)

['ROA(Net Income)(%)' 'ROE(Pretax Income)(%)' 'ROE(Net Income)(%)'
 'Cashflow(comm) to Total Equity(avg)(%)'
 'Capital Stock Turnover Ratio(times)']

In [47]:
# 로지스틱 회귀분석 - model2
X = model2[['ROA(Net Income)(%)', 'ROE(Pretax Income)(%)', 'ROE(Net Income)(%)',
 'Cashflow(comm) to Total Equity(avg)(%)',
 'Capital Stock Turnover Ratio(times)']]
Y = model2['target']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 1)
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
    #print(X_train)

## logistic regression
biologit = LogisticRegression(C=1, random_state=1)
biologit.fit(X_train,Y_train)
pred = biologit.predict(X_test)
    #print(pred)

## 예측력 확인
print('{:.5f}'.format(biologit.score(X_train,Y_train)))
print('{:.5f}'.format(biologit.score(X_test,Y_test)))

0.76396
0.69065

In [48]:
print(classification_report(Y_test,pred))

              precision    recall  f1-score   support

           0       0.65      0.76      0.70        66
           1       0.74      0.63      0.68        73

    accuracy                           0.69       139
   macro avg       0.70      0.69      0.69       139
weighted avg       0.70      0.69      0.69       139

In [49]:
print('{0:.5f}, {1:.5f}, {2:.5f}, {3:.5f}, {4:.5f}'.format(biologit.coef_[0,0],biologit.coef_[0,1],biologit.coef_[0,2],biologit.coef_[0,3],biologit.coef_[0,4]))

-4.77732, -0.31239, -0.15129, 0.00022, -3.54868

In [51]:
# k-fold 교차검증
from sklearn.model_selection import cross_val_score
scores = cross_val_score(biologit, X, Y, scoring='accuracy', cv=5)
print(scores)
print('CV 평균 점수: {}'.format(scores.mean()))

[0.83453237 0.73381295 0.65467626 0.71942446 0.8115942 ]
CV 평균 점수: 0.7508080492128036

In [ ]:
# 랜덤 포레스트 - model2
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state = 1)
rf = RandomForestClassifier(random_state=0, n_estimators=100, max_depth=5)
rf.fit(X_train,Y_train)
pred = rf.predict(X_test)
    #print(pred)

# 예측력
print('{:.5f}'.format(rf.score(X_train,Y_train)))
print('{:.5f}'.format(rf.score(X_test,Y_test)))

0.83243
0.72662

In [ ]:
print(classification_report(Y_test,pred))

              precision    recall  f1-score   support

           0       0.71      0.73      0.72        66
           1       0.75      0.73      0.74        73

    accuracy                           0.73       139
   macro avg       0.73      0.73      0.73       139
weighted avg       0.73      0.73      0.73       139

In [52]:
# k-fold 교차검증
from sklearn.model_selection import cross_val_score
scores = cross_val_score(rf, X, Y, scoring='accuracy', cv=5)
print(scores)
print('CV 평균 점수: {}'.format(scores.mean()))

[0.82014388 0.73381295 0.75539568 0.73381295 0.80434783]
CV 평균 점수: 0.7695026587425711